<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal Guessing Game</title>
  <link rel="stylesheet" href="{% static 'css/guessAnimals.css' %}" />
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,0,200" />
</head>
<body>
  <h4 class="text-center">Guess the name of the animal shown in the picture!!</h4>
  <div id="game-container" class="text-center">
    <img id="animal-image" src="" alt="Animal Image">
    <div class="options">
      <div class="option" onclick="checkAnswer(this)"></div>
      <div class="option" onclick="checkAnswer(this)"></div>
      <div class="option" onclick="checkAnswer(this)"></div>
    </div>
    <div id="score">Score: 0</div>
  </div>
   <div class="text-center">
    <a  href="{% url 'game' %}"><button class="btn btn-info"> Go to Home Page </button></a>

   </div>

  <script>
    const animals = [
      { name: 'Lion', image: "{% static 'animals/lion.jpg' %}" },
      { name: 'Elephant', image: "{% static 'animals/elephant.jpg'  %}"},
      { name: 'Giraffe', image: "{% static 'animals/giraffe.jpg' %}"},
      { name: 'Cow', image: "{% static 'animals/cow.jpg' %}" },
      { name: 'Donkey', image: "{% static 'animals/donkey.jpg' %}" },
      { name: 'Monkey', image: "{% static 'animals/monkey.jpg' %}" },
      { name: 'Rhino', image: "{% static 'animals/rhino.png' %}" },
      { name: 'Horse', image: "{% static 'animals/horse.jpg' %}" },
      { name: 'Dog', image: "{% static 'animals/dog.jpg' %}" },
      { name: 'Cat', image: "{% static 'animals/cat.png' %}" },
      { name: 'Pig', image: "{% static 'animals/pig.jpg' %}" },
      { name: 'Tiger', image: "{% static 'animals/tiger.jpg' %}" },
      { name: 'Panda', image: "{% static 'animals/panda.png' %}" },
      { name: 'Polar Bear', image: "{% static 'animals/polarbear.png' %}" },
      { name: 'Penguin', image: "{% static 'animals/peguin.png' %}" },
      { name: 'Bird', image: "{% static 'animals/bird.png' %}" },
      { name: 'Whale', image: "{% static 'animals/whale.png' %}" },
      { name: 'Fish', image: "{% static 'animals/fish.jpg' %}" },
      { name: 'Peacock', image: "{% static 'animals/peacock.jpg' %}" },
      { name: 'Owl', image: "{% static 'animals/owl.png' %}" },
      { name: 'Eagle', image: "{% static 'animals/eagle.jpg' %}" },
    ];

   

    let currentAnimalIndex = 0;
    let score = 0;

    function startGame() {
      showNextAnimal();
    }

    function showNextAnimal() {
      if (currentAnimalIndex < animals.length) {
        const currentAnimal = animals[currentAnimalIndex];
        const options = document.querySelectorAll('.option');

        document.getElementById('animal-image').src = currentAnimal.image;

    
        const correctOptionIndex = Math.floor(Math.random() * 3);
        options.forEach((option, index) => {
          option.textContent = index === correctOptionIndex ? currentAnimal.name : getRandomAnimalName();
        });

        currentAnimalIndex++;
      } else {

         alert(`Game Over! Your Score: ${score}`); 
        resetGame();
      }
    }

    function checkAnswer(selectedOption) {
      const selectedAnimalName = selectedOption.textContent;
      const correctAnimalName = animals[currentAnimalIndex - 1].name;

      if (selectedAnimalName === correctAnimalName) {
        alert('Correct! Well done!');
        score++;
        
      } else {
        alert(`Wrong! The correct answer is ${correctAnimalName}`);
      }

      document.getElementById('score').textContent = `Score: ${score}`;
      showNextAnimal();
    }

    function getRandomAnimalName() {
      const randomAnimalIndex = Math.floor(Math.random() * animals.length);
      return animals[randomAnimalIndex].name;
    }

    function resetGame() {
      currentAnimalIndex = 0;
      score = 0;
      document.getElementById('score').textContent = 'Score: 0';
      showNextAnimal();
    }

    
    document.addEventListener('DOMContentLoaded', startGame);
  </script>
</body>
</html>
